@{
    ViewData["Title"] = "About Us";
}
<link href="~/css/AboutUs.css" rel="stylesheet"type="text/css" />
<h1 class="center-text">About Us</h1>
<!--centered paragraphs-------------------------------------------------------------------------------------------------->
<p class="center-text">At Khumalo Craft Emporium, we are dedicated to celebrating craftsmanship and creativity through our talented artisans.</p>
<p class="center-text">Our vision is to create a community of talented inviduals that want to showcase their unique crafts and bond over shared passion</p>
<!--Our team heading--------------------------------------------------------------------------------------------------->
<h3 style="text-align:center">Our Team</h3>
<!--------------------------------------------------------------------------------------------------------------------->
<!---James Khumalo block-------------------------------------------------------------------------------------->
<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/images/JamesKhumalo.jpg" alt="James Khumalo">
            <div class="container">
                <h2>James Khumalo</h2>
                <p class="title">CEO & Founder</p>
                <p>Compassionate individual that strives for success.</p>
                <p>jamesKhumalo@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    <!-------------------------------------------------------------------------------------------------------->
    <!--BussinessMan block--------------------------------------------------------------------------------------------->
    <div class="column">
        <div class="card">
            <img src="~/images/BussinessMan.webp" alt="Gregorey Smit">
            <div class="container">
                <h2>Gregorey Smit</h2>
                <p class="title">Art Director</p>
                <p>Hardworking and determined to achieve business goals.</p>
                <p>GregSmit@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
    <!------------------------------------------------------------------------------------------------------>
    <!--BussniessWoman Block-------------------------------------------------------------------------------->

    <div class="column">
        <div class="card">
            <img src="~/images/BusinessWoman.jpg" alt="Jane Moore">
            <div class="container">
                <h2>Jane Moore</h2>
                <p class="title">Designer</p>
                <p>Lead operator for the sales team that is responsible for business success.</p>
                <p>JMoore@gmail.com</p>
                <p><button class="button">Contact</button></p>
            </div>
        </div>
    </div>
</div>
