@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" style="color: #bfbfbf;">Welcome</h1>
    <style>
        body {
            /*this is for the background image*/
            background-image: url('images/potteryhomepage.jpg');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
        }
    </style>
</div>
