@{
    ViewData["Title"] = "My Work";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title class="center-text">My Work</title>
    <link href="~/css/MyWork.css" rel="stylesheet type=text/css"/>
    <style>
    </style>
</head>
<body>
    <h1>My Work</h1>

    <div class="container">
        <!-- Product 1 ----------------------------------------------------------------------------------------------------->
        <div class="product">
            <img class="product-image" src="~/images/img 9 my work.jpg" alt="Product 1">
            <div class="product-details">
                <h2>Product 1</h2>
                <p>Description of Product 1</p>
                <p class="product-price">R1499.99</p>
            </div>
        </div>
        <!-- Product 2 --------------------------------------------------------------------------------------->
        <div class="product">
            <img class="product-image" src="~/images/pottery img1 (My Work).jpg" alt="Product 2">
            <div class="product-details">
                <h2>Product 2</h2>
                <p>Description of Product 2</p>
                <p class="product-price">R1499.99</p>
            </div>
        </div>
        <!-- Product 3 -------------------------------------------------------------------------------------->
        <div class="product">
            <img class="product-image" src="~/images/img 5 my work.webp" alt="Product 3">
            <div class="product-details">
                <h2>Product 3</h2>
                <p>Description of Product 3</p>
                <p class="product-price">R1499.99</p>
            </div>
        </div>
        <!-- Product 4 --------------------------------------------------------------------------------------------->
        <div class="product">
            <img class="product-image" src="~/images/img 3 my work.webp" alt="Product 4">
            <div class="product-details">
                <h2>Product 4</h2>
                <p>Description of Product 4</p>
                <p class="product-price">R1499.99</p>
            </div>
        </div>
        <!-- Product 5 ----------------------------------------------------------------------------------------->
        <div class="product">
            <img class="product-image" src="~/images/cermaicSet2.webp" alt="Product 5">
            <div class="product-details">
                <h2>Product 5</h2>
                <p>Description of Product 5</p>
                <p class="product-price">R1499.99</p>
            </div>
        </div>
        <!-- Product 6 --------------------------------------------------------------------------------------------------->
        <div class="product">
            <img class="product-image" src="~/images/cermaicSet3.jpg" alt="Product 6">
            <div class="product-details">
                <h2>Product 6</h2>
                <p>Description of Product 6</p>
                <p class="product-price">R1499.99</p>
            </div>
        </div>
        <!-- Product 7 ------------------------------------------------------------------------------------------>
        <div class="product">
            <img class="product-image" src="~/images/cermaicSet4.webp" alt="Product 7">
            <div class="product-details">
                <h2>Product 7</h2>
                <p>Description of Product 7</p>
                <p class="product-price">R1499.99</p>
            </div>
        </div>
        <!-- Product 8 -------------------------------------------------------------------------------------------->
        <div class="product">
            <img class="product-image" src="~/images/cermaicSet5.jpg" alt="Product 8">
            <div class="product-details">
                <h2>Product 8</h2>
                <p>Description of Product 8</p>
                <p class="product-price">R1499.99</p>
            </div>
        </div>
        <!-- Product 9 ------------------------------------------------------------------------------->
        <div class="product">
            <img class="product-image" src="~/images/cermaicSet6.webp" alt="Product 9">
            <div class="product-details">
                <h2>Product 9</h2>
                <p>Description of Product 9</p>
                <p class="product-price">R1499.99</p>
            </div>
        </div>
    </div>
</body>
</html>
